body{
    background-color: lightsteelblue;
    font-family: Montserrat;

}
#gameContainer{
    margin-top: 5vmin;
    text-align: center;

}


#scoreText{

    font-size: 100px;

}

#resetBtn{

    font-size: 22px;

    width: 100px;

    height: 50px;

    border: 3px solid;

    border-radius: 15px;

    cursor: pointer;

}
